[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_krunner_veracryptrunner2
X-KDE-ParentComponents=veracryptrunner2
X-KDE-PluginKeyword=kcm_krunner_veracryptrunner2

Name=veracryptrunner2
